.products-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;

}
.products-grid .product-card{
    width: 100%;
    outline: 1px solid $gray-100;
}
.products-count{
    color: $gray-500;
    font-size: 14px;
    padding-bottom: 20px;
}
@media screen and (max-width: 767px){
    .products-grid{

    }
    .products-grid .product-card{
        width: 100%;
    }
    .products-count{
        display: none;
    }
}
@media screen and (max-width: 575px){
    .products-grid{
        margin-left: -5px;
        margin-right: -5px;
    }
}