doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "kontakty";
    include template/_head.pug  
    body
        include components/_modal-login.pug

        include components/_header.pug
        include components/_nav.pug
        main
            include components/_breadcrumbs.pug
            .page
                section.page-heading
                    .container
                        h1 Hodnocení obchodu
                        p Hodnocení eshopu může provést pouze zákazník, který dokončil objednávku. Po několika dnech po převzetí objednávky je zákazníkovi zaslán email, kde je uveden odkaz na hodnotící formulář.
                section.page-content
                    .container 


                        .votepage-content
                            .votepage-summary

                                .rate-average-wrap
                                    .rate-average-inner
                                        .rate-average 4,9
                                            .rate-star-wrap
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .stars-label 499 hodnocení

                            
                          
                            .vote-grid
                                .vote-wrap
                                    .vote-header
                                        span.vote-pic
                                        
                                        .vote-summary
                                            .vote-name.vote-name--nowrap  Roman
                                    
                                            .vote-rating
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .vote-time 22.6.2022

                                    .vote-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                
                                .vote-wrap
                                    .vote-header
                                        span.vote-pic
                                        
                                        .vote-summary
                                            .vote-name.vote-name--nowrap  Roman
                                    
                                            .vote-rating
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .vote-time 22.6.2022

                                    .vote-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                
                                .vote-wrap
                                    .vote-header
                                        span.vote-pic
                                        
                                        .vote-summary
                                            .vote-name.vote-name--nowrap  Roman
                                    
                                            .vote-rating
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .vote-time 22.6.2022

                                    .vote-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                .vote-wrap
                                    .vote-header
                                        span.vote-pic
                                        
                                        .vote-summary
                                            .vote-name.vote-name--nowrap  Roman
                                    
                                            .vote-rating
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .vote-time 22.6.2022

                                    .vote-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                            
                                .vote-wrap
                                    .vote-header
                                        span.vote-pic
                                        
                                        .vote-summary
                                            .vote-name.vote-name--nowrap  Roman
                                    
                                            .vote-rating
                                                .stars
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-on
                                                    .star.star-off
                                                .vote-time 22.6.2022

                                    .vote-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                                
                        include components/_pagination.pug
                        

            include components/_points-section.pug
            include components/_contact-section.pug
            include components/_social-section.pug


        
        include components/_footer.pug

        include template/_scripts.pug  